body {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1.1fr 1fr 1fr; 
    grid-template-rows: 1.1fr; 
    gap: 0px 0px; 
}
.gridone {
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgba(246, 229, 229, 0.885);
}

.gridtwo {
    grid-area: 1 / 3 / 2 / 4;
    background-color: rgb(167, 116, 116);
}
#imgone { 
    width: 200px !important;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px #ad7474;
    margin: 10px;
    padding: 10px; 
}
.img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
}
header {
    grid-area: 1 / 1;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    line-height: 5px;
}
.name-one {
    grid-area: 1 / 1;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: rgb(167, 116, 116);
}
.name-two {
    grid-area: 1 / 1;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: rgb(16, 15, 15);
}
.profession {
    grid-area: 1 / 1;   
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: rgb(167, 116, 116);
}
.aside {
    grid-area: 1 / 1;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 17px;
    
}
.listone {
    grid-area: 1 / 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}
.listwo {
    grid-area: 1 / 1; 
    text-align: justify;  
}

.table {
    grid-area: 1 / 1;
    background-color: rgb(167, 116, 116);
    justify-content: center;
    display: inline;
    border-color: #ad7474;
}
.main-part {
    grid-area: 1 / 2;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 17px;   
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.job {
    grid-area: 1 / 2;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 17px;
}